/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    color: #4d4547;
    -webkit-font-smoothing: subpixel-antialiased;

}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Colours
 --------
 #F5D236 Yellow
 #DF532D Red

*/


.league {
    text-transform: uppercase;
}

p {
    font-size: 0.938em;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
 
.wrapper {
    margin: 0 auto;
    max-width: 61.500em;
    position: relative;
    text-align: center;
}


h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    font-weight: normal;
}

h1 {
    text-transform: uppercase;
    top: 0px;
}

.event-details {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    color: #fff;
}

a {
    text-decoration: none; 
}

#upcoming-event{
    background-color: #4D4547;
}

#upcoming-event .event-number {
    font-size: 322px;
    color: #F5D236;
    text-align: center;
    display: block;
}

#main-image {
    max-width: 100%;
}

.event-number {
    font-size: 322px;
    line-height: 1em;   
}

#speakers {
    text-align: center;
}

#speakers h2 {
    color: #DF532D;
}

#speakers #keynotes h2 {
    font-size: 4.125em;
    line-height: 1em;
}

#speakers #microslots h2 {
    font-size: 2em;
}

#speakers ul {
    padding-top: 1.125em;
}

#speakers li {
    padding-bottom: 1.125em;
}

#about {
    background-color: #DE522C;
    color: #fff;
    padding: 1.500em 0;
}

.button-fat {
    background-color: #2dc5f4;
    color: #fff;
    padding: 0.125em 0.375em;
    -moz-border-radius: 0.125em;
    -webkit-border-radius: 0.125em;
    border-radius: 0.125em;
    font-size: 3.000em;
    display: inline-block;
    margin-bottom: 0.125em;
    text-transform: uppercase;
}

.button, input type="submit" {
    background-color: #2dc5f4;
    color: #fff;
    padding: 0.125em 0.375em;
    -moz-border-radius: 0.125em;
    -webkit-border-radius: 0.125em;
    border-radius: 0.125em;
    font-size: 3.000em;
    display: inline-block;
    margin-bottom: 0.125em;
    text-transform: uppercase;
}

.link-fat {
    color: #2dc5f4;
    font-size: 3.000em;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    line-height: 1em;
}

#past-events {
    background-color: #4C4446;
    color: #fff;
}

#venue, #lanyrd, #sponsor, #keynotes, #microslots{
    border-bottom: 1px dotted #ccc;
    max-width: 30em;
    margin: 0 auto;
    padding: 0.750em;
}

#connect {
    background-color: #edeced;
    padding: 0.750em 0;
}

#connect a {
    color: #2ec6f5;
}

#connect li {
    display: inline-block;
    padding: 2%;
    border-right: 1px dotted #ccc;
    line-height: 1em;
    vertical-align: middle;
}

#hastag {
    font-size: 6em;
    text-transform: uppercase;
}

#speak {
    font-size: 1.875em;
    text-transform: uppercase;
    margin-top: 0.375em;
}

#speak a{
    color: #4d4547;
}

#newsletter {
    margin: 0.750em;
    display: block;
}

#past-events {
    padding: 0.75em;
}

#past-events h2{
    font-size: 4.125em;    
}

#past-events a{
    color: #2ec6f5;
    padding: 0.750em;
    display: block;
}

#past-events .event-number{ 
    display: block;
}

#past-events ul{
    font-size: 0;
    overflow: hidden;
    text-align: left;

}

#past-events li{
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    display: inline-block;
    color: #4d4547;
    text-align: center;
    margin-bottom: 0.75em;
}

.speaker {
    font-size: 1.6em;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */

#past-events {
    padding: 0;
}

#past-events li{
    width: 30%;
    margin-left:3.3%;
    margin-bottom: 3.3%;
}

#past-events ul{
    margin-left:-3.3%;
}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
